<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">
            <p id="logo"></p>
        </a>
        <div class="d-flex">
            <i class="far fa-paper-plane" #dropdownNotif (click)="dropdownMenu(3)"></i>
            <i class="far fa-bell" #dropdownChat (click)="dropdownMenu(2)"></i>
            <section id="profile" (click)="dropdownMenu(1)">
                <section id="profileDetail">
                    <span id="name">{{userData.name}}</span>
                    <span id="group">{{userData.group}}</span>
                </section>
                <img [src]="userData.image" alt="">
                <i #dropdownChange class="fas fa-chevron-down"></i>
            </section>
            <section id="menuArea" aria-dropdown="false" #menuAreaContent></section>
            <section id="notificationArea" aria-dropdown="false" #notificationAreaContent></section>
            <section id="chatArea" aria-dropdown="false" #chatAreaContent></section>
        </div>
    </div>
</nav>