<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand"><p id="logo"></p></a>
        <div class="d-flex">
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bell"></i>
                <section id="profile" (click)="dropdownMenu()">
                    <section id="profileDetail">
                        <span id="name">ადმინისტრატორი</span>
                        <span id="group">ადმინისტრატორი</span>
                    </section>
                    <img src="../../assets/images/no-image.png" alt="">
                    <i aria-dropdown="false" #dropdownChange class="fas fa-chevron-down"></i>
                </section>
        </div>
    </div>
</nav>