* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menucontent {
  background: #354FA6;
  height: 100vh;
  min-width: 60px;
  padding: 12px 0px 0px 7px;
  transform: 1s;
  max-width: 300px;
  z-index: 1057;
  position: relative;
}

i {
  color: white;
  font-size: 20px;
}

#collapseMenu {
  transition: all 0.6s ease 0s;
}

@keyframes menuiconColapse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

button[aria-expanded="true"]>.fa-bars::before {
  content: "\f00d";
  animation: menuiconColapse 0.7s linear 1 alternate;
}


@keyframes menuiconExit {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

button[aria-expanded="false"]>.fa-bars::before {
  animation: menuiconExit 0.7s linear 1 alternate;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem 1rem 2rem 0px;
  min-width: 20px;
  width: 300px;
  background: transparent;
}

.list-group {
  padding: 10px 15px 10px 9px;
}

.list-group-item {
  z-index: 2;
  background-color: unset;
  border-color: unset;
  border: unset;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.list-group-item>.menu-content {
  color: #fff;
  font-family: "BPG";
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
  display: flex !important;
  align-items: center;
  gap: 17px;
}

svg {
  fill: transparent;
  stroke: #fff;
  transition: 0.3s;
  min-width: 24px;
}

.list-group-item>.menu-content:hover {
  color: #3AA2FD;
}

.list-group-item.active {
  background-color: unset;
  border-color: unset;
}

.list-group-item.active>.menu-content {
  z-index: 2;
  color: #3AA2FD;
}


.list-group-item>.menu-content:hover>svg {
  stroke: #3AA2FD;
}

.list-group-item.active>.menu-content>svg {
  stroke: #3AA2FD;
}

.collapse:not(.show) {
  display: block;
  width: 0px;
}

#collapseMenu {
  min-width: 35px;
}

.collapse:not(.show) p {
  width: fit-content;
}

.collapse:not(.show) p span {
  display: none;
}

.list-group-item i {
  font-size: 12px;
  transition: 0.3s;
}

.collapse:not(.show) p i {
  display: none;
}

.list-group-item.active span>i {
  color: #3AA2FD;
  transform: rotate(180deg);
}

.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  align-content: center;
}

@keyframes dropdown {
  0% {
    height: 0px;
  }

  50% {
    height: 20px;
  }

  100% {
    height: 40px;
  }
}

.list-group-item .sub-menu {
  position: relative;
  left: 75px;
  height: 0px;
  display: none;
}

.sub-menu>p {
  display: list-item;
  color: #fff;
  font-family: "BPG";
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0px;
}

.sub-menu>p:hover {
  color: #3AA2FD;
}

.list-group-item.active .sub-menu {
  height: 40px;
  display: block;
  animation: dropdown 0.3s linear 1 alternate;
}
