<div class="menucontent">
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu" aria-expanded="false"
        aria-controls="collapseMenu">
        <i class="fas fa-bars"></i>
    </button>
    <div>
        <div class="collapse collapse-horizontal" id="collapseMenu">
            <div #menu class="card-body">
                <div class="list-group" id="list-tab" role="tablist">
                    <p *ngFor="let item of menuItem; index as i;" class="list-group-item list-group-item-action"
                        [ngClass]="{'active' : currentRoute == ('/'+item.route)}" data-bs-toggle="list"
                        [routerLink]="item.sub == 0 ? item.route : '#'" role="tab">
                        <svg viewBox="0 0 24 24" width="24" height="24">
                            <use attr.xlink:href="assets/icons/menu/menu.svg#{{item.icon}}"></use>
                        </svg>
                        <span class="menu-item">
                            <span>{{item.name}}</span>
                            <i class="fas fa-chevron-down" *ngIf="item.sub > 0"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>