<div class="menucontent">
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu" aria-expanded="false"
        aria-controls="collapseMenu">
        <i class="fas fa-bars"></i>
    </button>
    <div>
        <div class="collapse collapse-horizontal" id="collapseMenu">
            <div #menu class="card-body">
                <div class="list-group" id="list-tab" role="tablist">
                    <p *ngFor="let item of menuItem; index as i;" class="list-group-item list-group-item-action"
                        [ngClass]="{'active' : currentRoute == ('/'+item.route)}" data-bs-toggle="list"
                        routerLink="/{{item.route}}" role="tab">
                        {{item.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>