/* You can add global styles to this file, and also import other style files */
@import url(./assets/Fonts/fonts.css);

.btn-check:focus+.btn,
.btn:focus, .form-select:focus, .form-control:focus{
  outline: 0;
  box-shadow: unset;
}

body {
  background-color: #F4F3FC;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
